name: Test with Raku/setup-raku

on: [push, pull_request]

jobs:
  build:

    strategy:

      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

        raku-version:
          - latest
#           - 2020.06

    runs-on: ${{ matrix.os }}


    steps:

    - uses: actions/checkout@v2
    - uses: Raku/setup-raku@v1
      with:
        raku-version: ${{ matrix.raku-version }}

    - name: Setup Raku cache
      uses: actions/cache@v2
      id: rakuCache
      with:
        path: raku-local
        key: ${{ matrix.os }}-${{ matrix.raku-version }}

    - name: Raku ${{ env.RAKU_VERSION }} version
      run: raku -v

    - name: Set RAKULIB [Windows]
      if: ${{ contains(matrix.os, 'windows') }}
      shell: cmd
      run:  |
        echo RAKULIB=inst#%GITHUB_WORKSPACE%\raku-local >> %GITHUB_ENV%

    - name: Set RAKULIB [Linux/MacOS]
      if: ${{ !contains(matrix.os, 'windows') }}
      run:  |
        echo RAKULIB=inst#$GITHUB_WORKSPACE/raku-local >> $GITHUB_ENV

    - name: Install module dependencies [Windows]
      if: steps.rakuCache.outputs.cache-hit != 'true' && contains(matrix.os, 'windows')
      shell: cmd
      run:  |
        mkdir raku-local
        zef install --debug --install-to=%RAKULIB% --deps-only .

    - name: Install module dependencies [Linux/MacOS]
      if: steps.rakuCache.outputs.cache-hit != 'true' && !contains(matrix.os, 'windows')
      run:  |
        mkdir raku-local
        zef install --debug --install-to=$RAKULIB --deps-only .

    - name: Run module tests
      run:  |
        echo --verbose >.proverc
        echo --verbose >_proverc
        zef test --verbose .